:root {
    /* Paleta pastel */
    --color-pink: #f4b1c1;
    --color-pink-light: #FFD1DC;
    --color-blue: #AEC6CF;
    --color-yellow: #FDFD96;
    --color-lavender: #C3B1E1;
    --color-light-gray: #F5F5F5;
    --color-white: #FFFFFF;

    /* Colores extra para textos / acentos */
    --color-text-dark: #5c5c5c;
    --color-text-light: #888888;
    --color-primary-button: #C3B1E1;
    --color-secondary-button: #FFD1DC;

    /* Fuentes */
    --font-main: 'Outfit', sans-serif;
    /* --font-script: 'Pacifico', cursive; */
    --font-script: 'Delius', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Evitar selección de texto en dispositivos táctiles */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-light-gray);
    color: var(--color-text-dark);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

/* Ocultar elementos auxiliares */
.hidden {
    display: none !important;
    opacity: 0;
    pointer-events: none;
}

/* Utils para prevenir reflow: usar will-change cuando se anime intensamente */
.will-animate {
    will-change: transform, opacity;
}







/* Borde del la pagina -----------------------------------*/
.page-border::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 2800ms infinite;
    animation-play-state: paused;
}

.page-border::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.page-border,
.page-border::after {
    box-sizing: border-box;
}

.page-border {
    --border-width: 15px;
}